@import 'styles/mixins';
$garrisons: dragonstone highgarden lannisport pyke sunspear winterfell;

@each $garrison in $garrisons {
  .garrison-#{$garrison} {
    @include piece;
    height: 6.5em;
    width: 9.5em;
    background-image: url("images/tokens/garrison/#{$garrison}.png");
  }
}
