.track {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  padding: 25px 0;

  height: 965px;
  width: 235px;


  li {
    width: 100%;
    height: 128px;
  }
}

