.board {
  display: flex;

  background-image: url("images/board.jpg");
  background-repeat: no-repeat;

  width: 1980px;
  height: 2975px;

  main {
    display: flex;
    width: 1495px;

    section {
      position: absolute;
    }
  }

  aside {
    display: flex;
    flex-direction: column;

    width: 485px;

    padding-top: 25px;
    padding-left: 15px;
  }

  .supply {
    align-items: center;
    display: flex;
    height: 790px;
    justify-content: center;
  }

  .round-victory {
    display: flex;
    height: 966px;
  }
}

