@import 'styles/mixins';

.tracks {
  display: flex;
  padding-top: 50px;
  height: 1153px;

  ol {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 867px;
    width: 147px;

    li {
      $size: 118px;
      width: $size;
      height: $size;
      border-radius: $size;
      padding: 5px;
    }
  }
}

@each $faction in $factions {
  .#{$faction}-influence-token {
    @include piece;
    height: 6.4em;
    width: 6.3em;
    background-image: url("images/tokens/influence/#{$faction}.png");
  }
}
