.tracks {
  display: flex;

  padding-top: 50px;

  height: 1153px;

  ol {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 867px;
    width: 147px;

    li {
      $size: 118px;
      width: $size;
      height: $size;
      border-radius: $size;
    }
  }
}
