@import 'styles/mixins';

.wildling-card {
  position: absolute;
  left: 1150px;
  top: 20px;

  display: flex;
  height: 205px;
  width: 320px;

  background-color: rgba(0,0,0,0.5);
  color: white;

  a {
    padding: 10px;
    color: white;

    &:hover {
      color: cyan;
    }
  }
}

$wildling-cards: crow-killers the-horde-descends a-king-beyond-the-wall
mammoth-riders massing-on-the-milkwater preemptive-raid rattleshirts-raiders
silence-at-the-wall skinchanger-scout;

@each $card in $wildling-cards {
  .#{$card} {
    @include piece;

    top: 70px;
    left: 50px;
    z-index: 999;

    height: 40em;
    width: 22em;

    background-image: url("images/cards/wildling/#{$card}.png");
    background-size: contain;
  }
}

