.war-room {
	position: absolute;
	top: 30px;
	left: 30px;

	background-color: rgba(0,0,0,.7);
  transform: translate(0px, 0px);

	width: auto;
	height: auto;

  padding: 5px;
  color: white;

  main {
    display: flex;
    flex-wrap: wrap;

    width: 600px;
  }

  section {
    width: 100%;
    height: auto;
  }

  &[data-dragging-over] {
    background-color: rgba(255,255,255,.7);
  }
}

.war-room-button {
  position: fixed;
  top: 5px;
  left: 5px;
}
