.board {
  min-width: 1980px;
  min-height: 2975px;
  background-image: url("images/board.jpg");
  background-repeat: no-repeat;
  display: flex;

  aside {
    width: 485px;
    height: 2975px;
    padding-top: 25px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;

    > div {
      margin-top: 5px;
      width: 447px;
    }
  }

  .supply {
    align-items: center;
    display: flex;
    height: 790px;
    justify-content: center;
  }

  .round-victory {
    display: flex;
    height: 966px;
  }
}

