@import 'styles/mixins';

@mixin order {
  @include piece;
  height: 5em;
  width: 5em;
}

.march-order {
  @include order;
  background-image: url("images/tokens/order/march.png");
}
.special-march-order {
  @include order;
  background-image: url("images/tokens/order/marchp.png");
}
.minus-march-order {
  @include order;
  background-image: url("images/tokens/order/marchm.png");
}

.support-order {
  @include order;
  background-image: url("images/tokens/order/support.png");
}
.special-support-order {
  @include order;
  background-image: url("images/tokens/order/supportp.png");
}

.raid-order {
  @include order;
  background-image: url("images/tokens/order/raid.png");
}
.special-raid-order {
  @include order;
  background-image: url("images/tokens/order/raidp.png");
}

.consolidate-order {
  @include order;
  background-image: url("images/tokens/order/consolidate.png");
}
.special-consolidate-order {
  @include order;
  background-image: url("images/tokens/order/consolidatep.png");
}

.defend-order {
  @include order;
  background-image: url("images/tokens/order/defend.png");
}
.special-defend-order {
  @include order;
  background-image: url("images/tokens/order/defendp.png");
}

/* entire container, keeps perspective */
.flippable {
  perspective: 1000;

  /* flip the pane when add the class */
  &.flipped .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  /* hide back of pane during swap */
  .back, .front {
    backface-visibility: hidden;

    top: 0;
    left: 0;
  }

  /* back pane, placed above back */
  .back {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }
}
