@import 'styles/mixins';

//TODO: remove ser 'rodrik' cassel after fix card name in the API
$cards: (
baratheon: "patchface" "melisandre" "salladhor" "brienne" "davos" "renly"
"stannis",
lannister: "cersei" "kevan" "tyrion" "hound" "jaime" "gregor" "tywin",
stark: "eddard-stark" "robb-stark" "roose-bolton" "greatjon-umber"
"the-blackfish" "ser-rodrick-cassel" "catelyn-stark" "ser-rodrik-cassel",
greyjoy: "aeron" "asha" "dagmar" "balon" "theon" "victarion" "euron",
tyrell: "queen" "alester" "margaery" "garlan" "randyll" "loras" "mace",
martell: "doran" "arianne" "nymeria" "darkstar" "obara" "areo" "redviper",
);

@mixin card($house, $card) {
  .#{$house}-#{$card} {
    @include piece;
    height: 16em;
    width: 10em;
    background-image: url("images/cards/#{$house}-#{$card}.png");
    background-size: contain;
  }
}

@each $house in $houses {
  .#{$house}-supply-token {
    @include piece;
    height: 5.6em;
    width: 4.5em;
    background-image: url("images/tokens/supply/#{$house}.png");
  }
  .#{$house}-victory-token {
    @include piece;
    height: 5em;
    width: 5.6em;
    background-image: url("images/tokens/victory/#{$house}.png");
  }
  .#{$house}-power-token {
    @include piece;
    height: 5em;
    width: 3.5em;
    background-image: url("images/tokens/power/#{$house}.png");
  }

  .#{$house}-footman {
    @include piece;
    height: 5em;
    width: 5em;
    background-image: url("images/units/footman/#{$house}.png");
  }
  .#{$house}-knight {
    @include piece;
    height: 5.5em;
    width: 5.5em;
    background-image: url("images/units/knight/#{$house}.png");
  }
  .#{$house}-ship {
    @include piece;
    height: 5.5em;
    width: 6em;
    background-image: url("images/units/ship/#{$house}.png");
  }
  .#{$house}-siege-engine {
    @include piece;
    height: 5.3em;
    width: 5em;
    background-image: url("images/units/siege-engine/#{$house}.png");
  }
  .#{$house}-order-cover {
    @include piece;
    height: 5em;
    width: 5em;
    background-image: url("images/tokens/order/covers/#{$house}.png");
    background-size: contain;
  }

  @include card($house, "card-cover");

  @each $card in map-get($cards, $house) {
    @include card($house, $card);
  }
}
