.territory {
  fill: none;
  stroke: none;
  pointer-events: all;
  opacity: 0.7;
}

.territory-actived {
  fill: white;
  stroke: none;
  pointer-events: all;
  opacity: 0.7;
}

.territory-forbidden {
  fill: black;
  stroke: none;
  pointer-events: all;
  opacity: 0.7;
}
