.app {
  width: 100%;

  .board {
    width: 1980px;
    height: 2975px;
    background-image: url("images/board.jpg");
    background-repeat: no-repeat;
    display: inline-block;
  }

  aside {
    display: inline-block;
  }
}

@mixin piece {
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid;
}

.iron-throne-token {
  @include piece;
  height: 25em;
  width: 16em;
  background-image: url("images/tokens/throne.png");
}

.valyrian-steel-blade-token {
  @include piece;
  height: 32em;
  width: 12em;
  background-image: url("images/tokens/blade.png");
}

.mensseger-raven-token {
  @include piece;
  height: 25em;
  width: 16em;
  background-image: url("images/tokens/raven.png");
}

.wilding-threat-token {
  @include piece;
  height: 5em;
  width: 5em;
  background-image: url("images/tokens/wilding.png");
}
