@import '../styles/mixins';

@each $faction in $factions {
  .#{$faction}-footman {
    @include piece;
    height: 5em;
    width: 5em;
    background-image: url("images/units/footman/#{$faction}.png");
  }
  .#{$faction}-knight {
    @include piece;
    height: 5.5em;
    width: 5.5em;
    background-image: url("images/units/knight/#{$faction}.png");
  }
  .#{$faction}-ship {
    @include piece;
    height: 5.5em;
    width: 6em;
    background-image: url("images/units/ship/#{$faction}.png");
  }
  .#{$faction}-siege-engine {
    @include piece;
    height: 5.3em;
    width: 5em;
    background-image: url("images/units/siege-engine/#{$faction}.png");
  }
}
